img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: lightblue;
}

h1.center {
  text-align: center;
  color: navy;
  margin-left: 20px;
}


.something_good{
  background-color: white;

}
p.center{

  text-align: center;
  color: navy;
  margin-left: 20px;
  

}
